/* variables */

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-blue: hsl(229, 23%, 23%);
    --dark-grayblue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --font: 'Kumbh Sans', sans-serif;
    --larg-font: 18px;
    --small-font: 12px;
    --med-font: 16px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--font);
    font-size: 18px;
    background-color: var(--dark-cyan);
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
    background-repeat: no-repeat, no-repeat;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    width: 350px;
    height: 370px;
    background-color: white;
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
    box-shadow: 0px 0px 20px 1px var(--dark-grayblue);
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.picture {
    border-radius: 50%;
    border: white solid 5px;
    overflow: hidden;
    width: 96px;
    height: 96px;
    margin-top: 90px;
}

p {
    font-weight: bold;
    color: var(--dark-blue);
}

span {
    font-weight: normal;
    font-size: var(--small-font);
    color: var(--dark-grayblue);
    display: block;
    line-height: 20px;
}

.age {
    font-size: var(--larg-font);
    display: inline;
}

.city {
    font-size: var(--med-font);
}

.mainInfo {
    margin: 20px;
}

.info {
    border-top: hsl(233, 13%, 88%) solid 0.25px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}